.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #326a9d;
}
.paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
  color: #64748b;
}
.button {
  border-color: #326a9d;
  color: #326a9d;
  background-color: transparent;
  border-radius: 5px;
  padding: 6px;
  height: 30px;
  width: 100px;
}
